{% extends 'base.html' %}

{% block title %}Home{%endblock title %}


{% block body %}



    <!-- Form  by BOOTSTRAP  -->
    <div class="container my-3 ">
      <h2>Add a Todo</h2>
                <form action="/" method="POST">
            <div class="form-group">
              <label for="title">Todo tittle</label>
              <input type="text" class="form-control"  name="title"   id="title" aria-describedby="emailHelp" >
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="desc">Todo Description</label>
              <input type="text" class="form-control"  name="desc" id="desc" >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

   <!-- TABLE BY BOOTSTRAP -->
    <div class="container my-3">
      <h2>Your Todos</h2>

              {% if  allTodo|length ==0 %} <!--  if there no record in database.here wechecking length of  allTodo     -->
                    <div class="alert alert-primary" role="alert">
                        No todo found.Please add your first todo.
                    </div>
              {% else %}  <!-- if there is record then record will be present in website -->
        <table class="table table-striped ">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Sno</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Time</th>
                        <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>

              {% for todo in allTodo %}
              <tr>
                  <th scope="row">{{loop.index}}</th> <!-- lop.index autometically increment/decrement sno. -->
                  <td>{{todo.title}}</td> <!-- here we show tittle which is submited by user in form section -->
                  <td>{{todo.desc}}</td>
                  <td>{{todo.date_created}}</td>
                  <td> <a  href="/update/{{todo.sno}} " type="button" class="btn btn-outline-primary">Update</a>
                      <a  href="/delete/{{todo.sno}} " type="button" class="btn btn-outline-success">Delete</a>
                  </td>
                </tr>
               </tbody>

              {%  endfor %}
              {% endif %}
</table>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock body %}